<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
  <div class="well">
    <aside id="search-2" class="widget widget_search">
      <form method="get" class="form-search" action="http://bootstrapbay.com/blog/">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control search-query" value="" name="s" id="s" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-sm btn-default" name="submit" id="searchsubmit" value="Go" style="">
                  <span class="fa fa-search" style="text-align: center;   margin-right: -20px;width: 40px;"></span>
                </button> 
              </span>
            </div>
          </div>
        </div>
      </form>
    </aside>

    <% if false %>
    <!-- Second Aside -->
    <aside id="text-2" class="widget widget_text">
      <div class="textwidget" style="border: 1px solid red;">
        <div class="carbon_ad">
          <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=bootstrapbayblog" id="_carbonads_js"></script>                      
        </div>
      </div>
    </aside>                
    <!-- End of Second Aside -->
    <% end %>
    
    <!-- Third Aside -->
    <aside id="sparkling-social-2" class="widget sparkling-social">
      <h3 class="widget-title margin-top-zero">Follow us</h3>
      <!-- social icons -->
      <div class="social-icons sticky-sidebar-social">
        <div class="social-icons">
          <a href="https://facebook.com/bootstrapbay" title="Follow us on Facebok" class="facebook" target="_blank">
            <i class="social_icon fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/bootstrapbay" title="Follow us on Twitter" class="twitter" target="_blank">
            <i class="social_icon fa fa-twitter"></i>
          </a>
          <a href="https://plus.google.com/+BootstrapbayThemes/posts" title="Follow us on Google+" class="googleplus" target="_blank">
            <i class="social_icon fa fa-google-plus"></i>
          </a>
          <a href="http://www.youtube.com/user/bootstrapbayofficial" title="Follow us on Youtube" class="youtube" target="_blank">
            <i class="social_icon fa fa-youtube"></i>
          </a>
          <a href="http://bootstrapbay.com/blog/feed/" title="Follow us on RSS" class="rss" target="_blank">
            <i class="social_icon fa fa-rss"></i>
          </a>
        </div>
      </div><!-- end social icons -->
    </aside>
    <!-- End of Third Aside -->


    <!-- Tutorial Details -->
    <aside id="sparkling-social-2" class="widget sparkling-social tutorial_details">
      <h3 class="widget-title margin-top-zero">Tutorial Details</h3>
      <div class="detail_title">Catergories:</div>
      <span class="detail_title_name">HTML</span>
      <span class="detail_title_name">jquery</span>
      <span class="detail_title_name">css</span>
      
      <div class="detail_title">Catergories:</div>
      <span class="detail_title_name">HTML</span>
      <span class="detail_title_name">jquery</span>
      <span class="detail_title_name">css</span>
      
      <!-- social icons -->
      <div class="detail_title">Important Links:</div>
      <div class="social-icons sticky-sidebar-social">
        <div class="details-icon">
          <a href="#" title="Follow us on Facebok" class="facebook" target="_blank">
            <i class="social_icon fa fa-github"></i> Visit Github
          </a>
          <a href="https://twitter.com/bootstrapbay" title="Follow us on Twitter" class="twitter" target="_blank">
            <i class="social_icon fa fa-twitter"></i> Demo Link
          </a>
          <a href="https://plus.google.com/+BootstrapbayThemes/posts" title="Follow us on Google+" class="googleplus" target="_blank">
            <i class="social_icon fa fa-google-plus"></i> Related Link
          </a>
          <a href="http://www.youtube.com/user/bootstrapbayofficial" title="Follow us on Youtube" class="youtube" target="_blank">
            <i class="social_icon fa fa-youtube"></i> Video Link
          </a>
          <a href="http://bootstrapbay.com/blog/feed/" title="Follow us on RSS" class="rss" target="_blank">
            <i class="social_icon fa fa-download"></i> Attachment
          </a>
        </div>
      </div><!-- end social icons -->

                                                              
    </aside>
    <!-- End of Tutorial Details -->



    

    <!-- Writer Aside -->
    <% if @tutorial_writer %>
      <aside id="wpp-2" class="widget popular-posts" style="padding-bottom: 15px;">
        <h3 class="widget-title margin-top-zero" style="margin-bottom: 10px;">Tutorial Writer</h3>
        <ul class="wpp-list">
          <li>
            <a href="#" title="#" target="_self">
              <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/05/SLR-camera1-60x60.jpg" title="#" alt="#" width="125" height="125" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
            </a>
            <div class="writer_details">
              <a href="#" title="#" class="wpp-post-title wpp-blog-title" target="_self">
                <%=@tutorial.user.name%>
              </a>
              <span class="post-stats"><%=@tutorial.user.name%>, </span>
              <span class="post-stats">Cybage Software Pvt Ltd, Pune</span>
              <span class="post-stats"><%=@tutorial.user.email%></span>
              <span class="label label-info btn_profile_info">Profile Info</span>
            </div>
          </li>
        </ul>
      </aside>
    <% end %>
    <!-- End of Writer Aside -->
    
    <!-- Fourth Aside -->
    <aside id="wpp-2" class="widget popular-posts">
      <h3 class="widget-title margin-top-zero">Popular Posts</h3>
      <ul class="wpp-list">
        <li>
          <a href="http://bootstrapbay.com/blog/free-stock-photos/" title="12 Amazing Sites With Breathtaking Free Stock Photos" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/05/SLR-camera1-60x60.jpg" title="12 Amazing Sites With Breathtaking Free Stock Photos" alt="12 Amazing Sites With Breathtaking Free Stock Photos" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="http://bootstrapbay.com/blog/free-stock-photos/" title="12 Amazing Sites With Breathtaking Free Stock Photos" class="wpp-post-title" target="_self">12 Amazing Sites With Breathtaking Free Stock Photos</a>
          <span class="post-stats"></span>
        </li>
        <li>
          <a href="http://bootstrapbay.com/blog/bootstrap-3-carousel-tutorial/" title="Bootstrap 3 Carousel Tutorial" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/07/bootstrap-carousel1-60x60.png" title="Bootstrap 3 Carousel Tutorial" alt="Bootstrap 3 Carousel Tutorial" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="http://bootstrapbay.com/blog/bootstrap-3-carousel-tutorial/" title="Bootstrap 3 Carousel Tutorial" class="wpp-post-title" target="_self">Bootstrap 3 Carousel Tutorial</a>
          <span class="post-stats"></span>
        </li>
        <li>
          <a href="http://bootstrapbay.com/blog/bootstrap-editors/" title="7 Bootstrap Editors for Rapid Development of Responsive Websites" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/10/bootstrap-editors1-60x60.png" title="7 Bootstrap Editors for Rapid Development of Responsive Websites" alt="7 Bootstrap Editors for Rapid Development of Responsive Websites" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="http://bootstrapbay.com/blog/bootstrap-editors/" title="7 Bootstrap Editors for Rapid Development of Responsive Websites" class="wpp-post-title" target="_self">7 Bootstrap Editors for Rapid Development of Responsive Websites</a>  
          <span class="post-stats"></span> 
        </li>
        <li>
          <a href="http://bootstrapbay.com/blog/google-web-fonts/" title="Top 20 Google Web Fonts and How to Use Them" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/03/google-web-fonts-60x60.png" title="Top 20 Google Web Fonts and How to Use Them" alt="Top 20 Google Web Fonts and How to Use Them" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="http://bootstrapbay.com/blog/google-web-fonts/" title="Top 20 Google Web Fonts and How to Use Them" class="wpp-post-title" target="_self">Top 20 Google Web Fonts and How to Use Them</a>  <span class="post-stats"></span> 
        </li>
        <li>
          <a href="http://bootstrapbay.com/blog/customize-bootstrap/" title="How to Customize the Default Bootstrap Style, the Right Way" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/06/custom-css-stylesheet-60x60.png" title="How to Customize the Default Bootstrap Style, the Right Way" alt="How to Customize the Default Bootstrap Style, the Right Way" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="http://bootstrapbay.com/blog/customize-bootstrap/" title="How to Customize the Default Bootstrap Style, the Right Way" class="wpp-post-title" target="_self">How to Customize the Default Bootstrap Style, the Right Way</a>  
          <span class="post-stats"></span> 
        </li>
      </ul>
    </aside>
    <!-- End of Fourth Aside -->
    
    <!-- Fivth Aside -->
    <aside id="categories-2" class="widget widget_categories">
      <h3 class="widget-title margin-top-zero">Categories</h3>
      <ul>
        <li class="cat-item cat-item-14">
          <a href="http://bootstrapbay.com/blog/category/resources/" title="View all posts filed under Resources">Resources</a> (4)
        </li>
        <li class="cat-item cat-item-7">
          <a href="http://bootstrapbay.com/blog/category/site-news/" title="View all posts filed under Site News">Site News</a> (2)
        </li>
        <li class="cat-item cat-item-8">
          <a href="http://bootstrapbay.com/blog/category/tutorials/" title="View all posts filed under Tutorials">Tutorials</a> (13)
        </li>
        <li class="cat-item cat-item-12">
          <a href="http://bootstrapbay.com/blog/category/web-design/" title="View all posts filed under Web Design">Web Design</a> (9)
        </li>
      </ul>
    </aside>                
    <!-- End of Fivth Aside -->
  </div>
</div>