<div id="primary" class="content-area" style="">
  <main id="main" class="site-main" role="main">

  	<!-- Filter and Count Div -->
  	<div class="sorting clearfix" style="border: 1px solid red;">
      <div class="col-xs-8 col-sm-6 totalItems" style="padding: 5px 0 5px 0;">
        <i class="fa fa-search"></i>
        <span id="totalItemsValue">141 items</span>
      </div>
      <div class="col-xs-4 col-sm-6 text-right">
        <select id="orderBy" class="form-control select-mini" autocomplete="off">
          <option value="date" selected="">Date1</option>
          <option value="sales">Sales</option>
          <option value="price">Price</option>
          <option value="author">Author</option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="blog_list">
      <!-- First Div Blog -->
      <div class="blog_div" style="">
        <div class="thumbail_image">
          <img data-src="holder.js/140x140" class="img-thumbnail pull-left " alt="140x140" src="https://d2sis3lil8ndrq.cloudfront.net/books/angularjs1_large_3d.png" style="height: 160px;width: 120px;">
          <div class="clearfix"></div>
          <div class="blog_type">122121</div>
        </div>
        <!--<div class="col-md-8 pull-right green_line">.col-md-8</div>-->
        <div class="blog_description col-xs-9 col-sm-9 pull-right padding_left_right_ten" style="">
          <h2 class="blog_title">
            <a href="/books/angularjs-novice-to-ninja">AngularJS: Novice to Ninja Novice to Ninja Ninja Novice to Ninja</a>
          </h2>
          <div class="blog_short_description">
            <p>
              Build richer, more powerful JavaScript apps in less time, Build richer, more powerful JavaScript apps in less time
            </p>
          </div>
          <div class="blog_other_details">
            <ul>
              <li class="fa fa-rating">★★★★⋆</li>
              <li><i class="fa fa-thumbs-up"></i> 120</li>
              <li><i class="fa fa-eye"></i> 250</li>              
              <li><i class="fa fa-pencil"></i>
                <a href="/author/sandeeppanda92" class="dark-link">ABCD Sharma</a>
              </li>
            </ul>
            <ul>
              <li><i class="fa fa-rating"></i>Tag : html, css, jquery </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- First Div Blog END -->

      <!-- Secod -->
      <div class="blog_div" style="">
        <div class="thumbail_image">
          <img data-src="holder.js/140x140" class="img-thumbnail pull-left " alt="140x140" src="https://d2sis3lil8ndrq.cloudfront.net/books/angularjs1_large_3d.png" style="height: 160px;width: 120px;">
          <div class="clearfix"></div>
          <div class="blog_type">122121</div>
        </div>
        <!--<div class="col-md-8 pull-right green_line">.col-md-8</div>-->
        <div class="blog_description col-xs-9 col-sm-9 pull-right padding_left_right_ten" style="">
          <h2 class="blog_title">
            <a href="/books/angularjs-novice-to-ninja">AngularJS: Novice to Ninja Novice to Ninja Ninja Novice to Ninja</a>
          </h2>
          <div class="blog_short_description">
            <p>
              Build richer, more powerful JavaScript apps in less time, Build richer, more powerful JavaScript apps in less time, Build richer, more powerful JavaScript apps in less time, Build richer, more powerful JavaScript apps in less time
            </p>
          </div>
          <div class="blog_other_details">
            <ul>
              <li class="fa fa-rating">★★★★⋆</li>
              <li><i class="fa fa-thumbs-up"></i> 120</li>
              <li><i class="fa fa-eye"></i> 250</li>
              <li><i class="fa fa-pencil"></i>
                <a href="/author/sandeeppanda92" class="dark-link">ABCD Sharma</a>
              </li>
            </ul>
            <ul>
              <li><i class="fa fa-rating"></i>Tag : html, css, jquery </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
  	<!-- End - Filter -->
	</main>
</div>