 <!-- SocialSymbols -->
            <!--
            <div class="essb_links essb_counters essb_displayed_both essb_template_flat-retina essb_1395250496" id="essb_displayed_both">
              <ul class="essb_links_list">
                <li class="essb_item essb_totalcount_item" data-counter-pos="inside">
                  <span class="essb_totalcount essb_t_l_big" title="" title_after="">
                    <span class="essb_total_text"></span>
                    <span class="essb_t_nb">90</span>
                  </span>
                </li>
                <li class="essb_item essb_link_facebook nolightbox">
                  <a href="http://www.facebook.com/sharer/sharer.php?u=http://bootstrapbay.com/blog/bootstrap-editors/" rel="nofollow" title="Share this article on Facebook" target="_blank" onclick="essb_window1395250496('http://www.facebook.com/sharer/sharer.php?u=http://bootstrapbay.com/blog/bootstrap-editors/', 'facebook'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="34">34</span>
                    </span>
                  </a>
                </li>
                <li class="essb_item essb_link_twitter nolightbox">
                  <a href="#" rel="nofollow" title="Share this article on Twitter" target="_blank" onclick="essb_window1395250496('https://twitter.com/intent/tweet?text=7+Bootstrap+Editors+for+Rapid+Development+of+Responsive+Websites&amp;url=http://bootstrapbay.com/blog/bootstrap-editors/', 'twitter'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="44">44</span>
                    </span>
                  </a>
                </li>
                <li class="essb_item essb_link_google nolightbox">
                  <a href="https://plus.google.com/share?url=http://bootstrapbay.com/blog/bootstrap-editors/" rel="nofollow" title="Share this article on Google+" target="_blank" onclick="essb_window1395250496('https://plus.google.com/share?url=http://bootstrapbay.com/blog/bootstrap-editors/', 'google'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="9">9</span>
                    </span>
                  </a>
                </li>
                <li class="essb_item essb_link_linkedin nolightbox">
                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;ro=true&amp;trk=EasySocialShareButtons&amp;title=7+Bootstrap+Editors+for+Rapid+Development+of+Responsive+Websites&amp;url=http://bootstrapbay.com/blog/bootstrap-editors/" rel="nofollow" title="Share this article on LinkedIn" target="_blank" onclick="essb_window1395250496('http://www.linkedin.com/shareArticle?mini=true&amp;ro=true&amp;trk=EasySocialShareButtons&amp;title=7+Bootstrap+Editors+for+Rapid+Development+of+Responsive+Websites&amp;url=http://bootstrapbay.com/blog/bootstrap-editors/', 'linkedin'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="3">3</span>
                    </span>
                  </a>
                </li>
                <li class="essb_item essb_link_stumbleupon nolightbox">
                  <a href="http://www.stumbleupon.com/badge/?url=http://bootstrapbay.com/blog/bootstrap-editors/" rel="nofollow" title="Share this article on StumbleUpon" target="_blank" onclick="essb_window1395250496('http://www.stumbleupon.com/badge/?url=http://bootstrapbay.com/blog/bootstrap-editors/', 'stumbleupon'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="0">0</span>
                    </span>
                  </a>
                </li>
                <li class="essb_item essb_link_reddit nolightbox">
                  <a href="http://reddit.com/submit?url=http://bootstrapbay.com/blog/bootstrap-editors/&amp;title=7+Bootstrap+Editors+for+Rapid+Development+of+Responsive+Websites" rel="nofollow" title="Share this article on Reddit" target="_blank" onclick="essb_window1395250496('http://reddit.com/submit?url=http://bootstrapbay.com/blog/bootstrap-editors/&amp;title=7+Bootstrap+Editors+for+Rapid+Development+of+Responsive+Websites', 'reddit'); return false;">
                    <span class="essb_icon"></span>
                    <span class="essb_network_name">
                      <span class="essb_counter_inside" cnt="0">0</span>
                    </span>
                  </a>
                </li>
              </ul>
              <input type="hidden" class="essb_info_plugin_url" value="http://bootstrapbay.com/blog/wp-content/plugins/easy-social-share-buttons">
              <input type="hidden" class="essb_info_permalink" value="http://bootstrapbay.com/blog/bootstrap-editors/" post-id="1794">
              <input type="hidden" class="essb_info_permalink_twitter" value="http://bootstrapbay.com/blog/bootstrap-editors/">
              <input type="hidden" class="essb_fb_total_count" value="true">
              <input type="hidden" class="essb_counter_ajax" value="false">
              <input type="hidden" class="essb_info_counter_pos" value="inside">
            </div>                                                    
            <!-- End of SocialSymbols -->