
/* List of Books Block */
.green_line{
  border: 1px solid green;
}
.red_line{
  border: 1px solid red;
}
.black_line{
  border: 1px solid black;
}
textarea {
    resize: none;
}
.select-mini {
  font-size: 13px !important;
  height: 30px !important;
  width: 100px !important;
  float: right;
}
.padding-left-right-zero {
  padding-left: 0px !important;
  padding-right: 0px !important;  
}
.sorting {
  border-bottom: 4px solid #e5e5e5 !important;
  /*margin-bottom: 10px !important;*/
  padding-bottom: 10px !important;
}
.sorting .totalItems i {
  padding-right: 7px !important;
}
#catListings .sorting .totalItems i {
  color: #888888 !important;
  margin-right: 5px !important;
  border: 1px solid red !important;
}
#catListings .sorting .vfilters {
  float: right !important;
  border: 1px solid black !important;
}
#catListings .sorting .vlabel {
  line-height: 34px !important;
  margin-right: 15px !important;
}
#catListings .sorting select {
  float: left !important;
  width: 50px !important;
  padding: 6px !important;
  margin-right: 5px !important;
}
.form-control {
  border-radius: 3px !important;
}

.thumbail_image{
  min-height:160px !important;
  width: 20%;
  padding-left:0px;
  padding-right:0px;
  float: left;
}
h2.book_title {
  font-size: 25px;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
h2 a {
  color: #333 !important;
}
.padding_left_right_ten{
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.blog_description{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 160px !important;
  margin-right:10px !important;
  border-right: 4px solid transparent;
}
.blog_description:hover {
  /*border-right: 4px solid red;*/
}

.blog_other_details ul {
  margin-bottom: 0px;
  margin-left: 0;
  padding-left: 0px !important;
}

.blog_other_details ul.available_format li {
  margin-right: 0.5em; 
}

.blog_other_details ul li {
  color: #949494;
  display: inline-block;
  line-height: 1.6;
  list-style: none;
  margin-right: 2em;
  min-width: 2em;
  list-position: inside;
  margin-bottom: 10px;
  font-size: 13px;
}
.blog_short_description {
  flex: 1 0 auto;
}

.blog_other_details .button{
  display: block;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: center;
  text-transform: none;
  width: 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  float: right;
}
.button{
  border-radius: 4px;
  background: #90c352;
  border-color: #90c352;
  color: white;
  text-transform: capitalize;
  padding-top: 1em;
  padding-bottom: 0.9em;
  border-width: 2px;
}
button:hover, .button:hover {
  background: none repeat scroll 0 0 #92DA3B;
  border-color: #92DA3B;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF;
}
.blog_div{
  padding: 5px 0 5px 0;
  border-bottom: 2px solid #e5e5e5;
  border-right: 4px solid transparent;
  margin-bottom: 10px;
  padding-top: 12px;
}
.blog:hover{
  border-right: 4px solid #e5e5e5;
}


/* Blog Detail Page - Meta Data */
.entry-meta span{
  margin-right: 15px !important;
}
.entry-meta span a{
  font-size: 14px !important;
}


/* Blog */
.blog_title{
  margin-top: 0px !important;
  font-weight: 500 !important;
  font-size: 24px !important;
}

.entry-content p, .blog_short_description p{
  font-size: 14px;
}
.blog_type{
  border-color: red;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  margin: 10px 0;
  padding: 6px;
  text-align: center;
  width: 90%;
  background: #dadada !important;
}


/* Post Writer */
.wpp-list .wpp-blog-title{
  font-size: 20px !important;
}

.wpp-list .post-stats{
  font-size: 13px !important;
  font-weight: 500 !important;
}

.wpp-list .writer_details{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 140px;
  word-wrap: break-word;
}

.btn_profile_info{
  padding: 0.6em !important;
  margin: 3px 2.5em 3px 2.5em !important;
}

.tutorial_filter{
  padding: 6px !important;
}

.btn_radio_type{
  padding: 9px !important;
  font-size: 13px !important;
  border-right: 2px solid #2d85bf !important;
}

.tutorial_details .detail_title{
  color: #909090;
  font: italic 12px/1.2em Georgia,serif;
  /*margin-bottom: 5px;*/
  margin-top: 5px;
}
.tutorial_details .name_box {
  border: 1px solid #dae1e5;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  margin: 2px;
  padding: 2px 5px;
}

.tutorial_details .name {
  font-size: 13px;
  font-weight: bold;
  margin: 0 2px;
}

#secondary .widget .details-icon a {
  background-color: #dadada;
  border-radius: 3px;
  color: #3f3f3f;
  display: inline-block;
  font-size: 0.7em;
  height: 30px;
  line-height: 30px;
  list-style: none outside none;
  margin-bottom: 5px;
  margin-right: 0px;
  text-align: center;
  transition: background-color 0.5s ease 0s;
  width: 48%;
}
#secondary .widget .details-icon a:hover {
  background-color: #333333;
}


h3.widget-title {
  color: #555 !important;
  font-size: 16px !important;
  text-transform: uppercase;
  /*margin-bottom: 25px;*/
  margin-bottom: 10px;
  margin-top: 0;
}

.tutorial_details .tutorial_type{
  padding: 0.3em 0.6em !important;
  border-radius: 0.25em;
  color: #fff;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #5bc0de;
}

.entry-meta span, .entry-meta span a{
  color: #909090 !important;
}

#secondary .widget a.like_button {
  color: #ffffff;
  font-size: 12px;
  width: 70%;
  margin: 0 3.5em;
}

.like_message{
  background: none repeat scroll 0 0 #3498db;
  border-radius: 3px 0 0 3px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 70%;
}

.like_icon{
  width: 30%;
  background: none repeat scroll 0 0 #3498db;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 25px;
  padding: 2.5px 2.5px 2.5px 1em;
}

.form-div{
  padding-bottom: 10px;
  padding-top: 10px;
}